[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = ">=1.4.0"
torchvision = ">=0.5.0"
dominate = ">=2.4.0"
visdom = ">=0.1.8.8"

[dev-packages]

[requires]
python_version = "3.7"
